body {
	background: #46146e;
	background: -webkit-linear-gradient(to top, #46146e, #118b8f);
	background: linear-gradient(to top, #46146e, #118b8f);
	min-height: 100vh;
  }
.logo{
	width:130px;
	height:56px;
}
#home{
	color: #fff;
}
.nav-link{
	color: black;
}
.image{
	width:100%;
	height:100%;
}
p{
	font-size: 60px;
	color: white;
}
#content{
	width:415px;
	height:100%;
}
.x{
	margin-left: 15px;
}